.article-1 {
  //background: linear-gradient(black, rgb(12, 12, 12));
  /* position: absolute;
    top: 0px;
    left: 0px; */
  position: relative;
  min-width: 100vw;
  height: 100vh;

  /* font */
  font-size: 7.5rem;
  color: $txt-color;

  //font-weight: 300;

  /* display */
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 2rem;
  margin-right: 10rem;
  //@extend: rgba(255, 255, 255, 0.15) 0px 5px 35px;

  p {
    display: inline-block;
  }

  .down-arrow {
    position: absolute;
    bottom: 25%;
    left: 50%;
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .article-1 {
    display: block;
    max-height: 100vh;
    font-size: 7rem;
  }
}

@media (max-width: 1024px) {
  .article-1 {
    font-size: 6rem;
    width: 600px;

    .down-arrow {
      bottom: 10%;
    }
  }
}
/* <a target="_blank" href="https://icons8.com/icons/set/down">Down icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
