/*==========
  reset
  ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/*==========
  Base
  ==========*/
body {
  //border: 5px solid rebeccapurple;
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
  /* width: 100%;
  min-width: 100%; */
  font-family: $font-family;
  background-color: $dark;
  //background-image: linear-gradient(to left, #1f1d1d, #000000 94%);
  /*  background-color: rgba(214, 202, 200, 0.568); */

  .scroll {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .scroll-content {
      // border: 4px solid white;
      display: flex;
      position: absolute;
      height: 100vh;
    }
  }
}
#fake-height {
  // border: 10px solid coral;
}

/* @media (max-width: 768px) {
  body {
    height: 2800px;
  }
}
@media (max-width: 1024px) {
  .scroll-content {
    max-width: 3000px;
  }
}
 */
