* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 3300px;
  min-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  min-width: 100%;
  position: relative;
  font-family: 'Inter', sans-serif;
  /*  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
  background-color: #272727;
  //background-image: linear-gradient(to left, #1f1d1d, #000000 94%);

  /*  background-color: rgba(214, 202, 200, 0.568); */
}
a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
  body {
    height: 2800px;
  }
}
@media (max-width: 1024px) {
  .scroll-content {
    max-width: 3000px;
  }
}
