@mixin floating-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
}
.floating-icons-wrapper {
  // border: 2px solid red;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  z-index: -1;

  /* icon Javascript */
  .floating-icon1 {
    @include floating-icon;
    bottom: 5%;
    left: 30%;
    animation: float-icon-horizontal 29s linear infinite alternate-reverse;
  }

  /* icon React */
  .floating-icon2 {
    @include floating-icon;
    top: 35%;
    left: 40%;
    animation: float-icon1 29s linear infinite alternate-reverse;
  }

  /* icon Github */
  .floating-icon3 {
    @include floating-icon;
    top: -5%;
    left: 25%;
    animation: float-icon2 29s linear infinite alternate-reverse;
  }

  /* icon firebase */
  .floating-icon4 {
    @include floating-icon;
    top: 15%;
    left: 0%;
    animation: float-icon5 29s linear infinite alternate-reverse;
  }

  /* icon git */
  .floating-icon5 {
    @include floating-icon;
    top: 15%;
    right: 15%;
    animation: float-icon5 29s linear infinite alternate-reverse;
  }

  /* icon css */
  .floating-icon6 {
    @include floating-icon;
    top: -5%;
    right: 35%;
    animation: float-icon4 29s linear infinite alternate-reverse;
  }

  /* icon node */
  .floating-icon7 {
    @include floating-icon;
    top: -15%;
    right: 25%;
    animation: float-icon4 29s linear infinite alternate-reverse;
  }

  /* icon sass */
  .floating-icon8 {
    @include floating-icon;
    top: 5%;
    left: 5%;
    animation: float-icon1 29s linear infinite alternate-reverse;
  }
}
@keyframes float-icon1 {
  0% {
    transform: translate(600%, 300%) rotate(700deg);
  }
}

@keyframes float-icon-horizontal {
  0% {
    transform: translateX(700%);
  }

  50% {
    transform: rotate(-40deg);
  }

  100% {
    transform: translateX(700%);
  }
}

@keyframes float-icon2 {
  0% {
    transform: translateX(-400%) rotate(-360deg);
  }

  100% {
    transform: translateX(600%);
  }
}

@keyframes float-icon3 {
  0% {
    transform: translateY(-400%);
  }

  100% {
    transform: translateY(600%);
  }
}

@keyframes float-icon4 {
  0% {
    transform: translateY(300%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes float-icon5 {
  0% {
    transform: translate(400%, 300%);
  }

  100% {
    transform: translate(0%, 700%);
  }
}
