.section-1 {
  position: relative;
  width: 100vw;
  height: 100vh;

  padding: 0 2rem;
  margin-right: 5rem;

  /* font */
  font-size: 8.5rem;
  color: $txt-color;
  font-family: 'Montserrat', sans-serif;

  /* display */
  display: flex;
  align-items: center;
  justify-content: center;

  .down-arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
    cursor: pointer;
  }
  a,
  p {
    display: inline-block;
  }
  span {
    cursor: pointer;
  }
}
.tooltip {
  height: 40px;
  width: 40px;
  bottom: 5%;
  left: 50%;
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.137);

  span {
    font-size: 1rem;
  }
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(29, 27, 27, 0.705);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 120%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(22, 20, 20, 0.603) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media (max-width: map-get($breakpoints, 'phone' )) {
  .section-1 {
    max-height: 100vh;
    font-size: 7rem;
    align-items: flex-start;

    .text-wrapper {
      margin-top: 2rem;
    }
    .down-arrow {
      bottom: 0%;
    }
  }

  .tooltip {
    left: 75%;

    .down-arrow {
      width: 35px;
      height: 35px;
    }
  }
}

@media (min-width: map-get($breakpoints, 'tablet' )) and (max-width: map-get($breakpoints, 'desktop' )) {
  .section-1 {
    font-size: 6rem;

    .down-arrow {
      bottom: 15%;
      left: 25%;
    }
  }
}
/* <a target="_blank" href="https://icons8.com/icons/set/down">Down icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
