@import 'base', 'variables', 'typography', 'fake-loading', 'glitch', 'article-1',
  'article-2', 'article-3', 'card';

.index {
  /*   overflow-y: scroll;

  height: 100%;
  height: 100%; */
}

.scroll {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.scroll-content {
  display: flex;
  /* white-space: nowrap; */
  position: relative;
  height: 100vh;
  max-width: 3300px;
}

@media (max-width: 768px) {
  .scroll-content {
    max-width: 2800px;
  }
}
@media (max-width: 1024px) {
  .scroll-content {
    max-width: 3000px;
  }
}
