@charset "UTF-8";
/*==========
  variables
  ==========*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
/*==========
  colors
  ==========
*/
/*==========
  typography
  ==========
*/
/*==========
  components: card
  ==========*/
/*==========
  breakpoints
  ==========*/
/*==========
  base
  ==========*/
/*==========
  reset
  ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*==========
  Base
  ==========*/
body {
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
  /* width: 100%;
  min-width: 100%; */
  font-family: "Inter", sans-serif;
  background-color: #272727;
  /*  background-color: rgba(214, 202, 200, 0.568); */
}
body .scroll {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
body .scroll .scroll-content {
  display: flex;
  position: absolute;
  height: 100vh;
}

/* @media (max-width: 768px) {
  body {
    height: 2800px;
  }
}
@media (max-width: 1024px) {
  .scroll-content {
    max-width: 3000px;
  }
}
 */
/*=========
  text
  ==========*/
/*==========
  effects
  ==========*/
.fake-loading {
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #272727;
  animation: fakeLoad 1.7s linear forwards;
}

@keyframes fakeLoad {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    display: block;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    z-index: -1;
    opacity: 0;
  }
}
.loading-bar-wrapper {
  position: absolute;
  top: 50%;
  left: 40%;
}

.loading-bar-name {
  width: 200px;
  color: white;
  position: absolute;
  z-index: 11;
  left: 90px;
  top: -25px;
  letter-spacing: 1.5px;
  font-style: normal;
  animation: loadbar-back 1.5s linear forwards;
}

.loading-bar {
  z-index: 11;
  top: 10%;
  left: 40%;
  width: 300px;
  height: 2px;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.541);
  overflow: hidden;
  animation: loadbar-back 1s linear forwards;
}

.loading-bar::before {
  content: "";
  height: 2px;
  width: 300px;
  background-color: white;
  position: absolute;
  animation: loadbar 1s linear forwards;
}

@keyframes loadbar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes loadbar-back {
  100% {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .loading-bar-wrapper {
    position: absolute;
    top: 50%;
    left: 15%;
  }
}
.glitch {
  position: relative;
  font-size: 7.5rem;
  font-weight: 700;
  /* text-transform: uppercase; */
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 0.5s infinite;
}

.hidden-glitch {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.hidden-colors {
  text-shadow: none;
  animation: none;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-of-type {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-of-type {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
@media (max-width: 1024px) {
  .glitch {
    font-size: 6rem;
  }
}
/*==========
  icons
  ==========*/
.floating-icons-wrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  z-index: -1;
  /* icon Javascript */
  /* icon React */
  /* icon Github */
  /* icon firebase */
  /* icon git */
  /* icon css */
  /* icon node */
  /* icon sass */
}
.floating-icons-wrapper .floating-icon1 {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  bottom: 5%;
  left: 30%;
  animation: float-icon-horizontal 29s linear infinite alternate-reverse;
}
.floating-icons-wrapper .floating-icon2 {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  top: 35%;
  left: 40%;
  animation: float-icon1 29s linear infinite alternate-reverse;
}
.floating-icons-wrapper .floating-icon3 {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  top: -5%;
  left: 25%;
  animation: float-icon2 29s linear infinite alternate-reverse;
}
.floating-icons-wrapper .floating-icon4 {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  top: 15%;
  left: 0%;
  animation: float-icon5 29s linear infinite alternate-reverse;
}
.floating-icons-wrapper .floating-icon5 {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  top: 15%;
  right: 15%;
  animation: float-icon5 29s linear infinite alternate-reverse;
}
.floating-icons-wrapper .floating-icon6 {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  top: -5%;
  right: 35%;
  animation: float-icon4 29s linear infinite alternate-reverse;
}
.floating-icons-wrapper .floating-icon7 {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  top: -15%;
  right: 25%;
  animation: float-icon4 29s linear infinite alternate-reverse;
}
.floating-icons-wrapper .floating-icon8 {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  top: 5%;
  left: 5%;
  animation: float-icon1 29s linear infinite alternate-reverse;
}

@keyframes float-icon1 {
  0% {
    transform: translate(600%, 300%) rotate(700deg);
  }
}
@keyframes float-icon-horizontal {
  0% {
    transform: translateX(700%);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: translateX(700%);
  }
}
@keyframes float-icon2 {
  0% {
    transform: translateX(-400%) rotate(-360deg);
  }
  100% {
    transform: translateX(600%);
  }
}
@keyframes float-icon3 {
  0% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(600%);
  }
}
@keyframes float-icon4 {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes float-icon5 {
  0% {
    transform: translate(400%, 300%);
  }
  100% {
    transform: translate(0%, 700%);
  }
}
/*==========
  UI components
  ==========*/
.section-1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  margin-right: 5rem;
  /* font */
  font-size: 7.5rem;
  color: #dce3e7;
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1 .down-arrow {
  position: absolute;
  bottom: 35%;
  left: 10%;
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
  cursor: pointer;
}
.section-1 a,
.section-1 p {
  display: inline-block;
}
.section-1 span {
  cursor: pointer;
}

/* pseudo element arrow */
/* .clean-code {
  position: relative;
  &::before {
    content: url(../images/icons/icons8-arrow-50-w.png);
    position: absolute;
    left: 8.5%;
    top: 48%;
    transform: rotate(90deg);
  }
} */
@media (max-width: 768px) {
  .section-1 {
    max-height: 100vh;
    font-size: 7rem;
  }
  .section-1 .down-arrow {
    bottom: 0%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .section-1 {
    font-size: 6rem;
    /* width: 600px; */
  }
  .section-1 .down-arrow {
    bottom: 15%;
    left: 25%;
  }
}
/* <a target="_blank" href="https://icons8.com/icons/set/down">Down icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
.section-2 {
  height: 100vh;
  padding: 0 2rem;
}
.section-2 .wrapper-outer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2 .wrapper-outer h1 {
  text-align: center;
  margin-top: 2rem;
  color: #dce3e7;
  padding-left: 1.5rem;
  letter-spacing: 1.1px;
}
.section-2 .wrapper-outer h1:hover {
  color: white;
  cursor: pointer;
}
.section-2 .wrapper-outer h1:hover span {
  color: #9cc9e3;
}
.section-2 .wrapper-outer .card-wrapper {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 0.5rem;
  padding: 1rem 0rem;
}

@media (max-width: 768px) {
  .section-2 .wrapper-outer h1 {
    text-align: start;
  }
}
.section-3 {
  position: relative;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #dce3e7;
}
.section-3 .paragraphs-container {
  max-width: 60%;
  margin: 5% auto;
  flex-grow: 1;
}
.section-3 .paragraphs-container .salutation {
  font-size: 1.5em;
  text-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px;
  color: whitesmoke;
}
.section-3 .paragraphs-container .my-name {
  color: white;
}
.section-3 .paragraphs-container .my-name:hover {
  color: #3294a6;
}
.section-3 .paragraphs-container p {
  white-space: initial;
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
.section-3 footer {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}
.section-3 footer img {
  display: inline-block;
}
.section-3 footer img:hover {
  transform: rotate(-30deg);
}

@media (max-width: 768px) {
  .section-3 .paragraphs-container {
    max-width: 100%;
    padding: 0 1.5rem;
  }
  .section-3 .paragraphs-container p {
    line-height: initial;
    font-size: 1rem;
  }
}
/*  Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */
/* <a href="https://icons8.com/icon/Vra58PN2KmI5/react">React icon by Icons8</a> */
/* <a href="https://icons8.com/icon/NfbyHexzVEDk/react">React icon by Icons8</a> */
/* <a target="_blank" href="https://icons8.com/icons/set/compare-git">Compare Git icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
.card-1 {
  background: url(../images/library.jpg) center/cover no-repeat;
  width: 294.11px;
  height: 205.88px;
  position: relative;
  margin: 1rem 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(7, 8, 17, 0.5);
  text-align: center;
}
.card-1 h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #9cc9e3;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}
.card-1 hr {
  width: 50px;
  height: 3px;
  margin: 10px auto;
  border: 0;
  background: #d0bb57;
}
.card-1 .color-overlay {
  background: rgba(84, 104, 110, 0.4);
  width: 294.11px;
  height: 205.88px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card-1 .title-content {
  text-align: center;
  margin: 30px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.card-1:hover .card-info {
  opacity: 1;
  bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #9cc9e3;
}
.card-1:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.card-1:hover .title-content {
  opacity: 0;
}

.card-2 {
  background: url(../images/navbar-icon-darkmode.png) center/cover no-repeat;
  width: 294.11px;
  height: 205.88px;
  position: relative;
  margin: 1rem 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(7, 8, 17, 0.5);
  text-align: center;
}
.card-2 h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #9cc9e3;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}
.card-2 hr {
  width: 50px;
  height: 3px;
  margin: 10px auto;
  border: 0;
  background: #d0bb57;
}
.card-2 .color-overlay {
  background: rgba(84, 104, 110, 0.4);
  width: 294.11px;
  height: 205.88px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card-2 .title-content {
  text-align: center;
  margin: 30px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.card-2:hover .card-info {
  opacity: 1;
  bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #9cc9e3;
}
.card-2:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.card-2:hover .title-content {
  opacity: 0;
}

.card-3 {
  background: url(../images/plants/kaufmann-mercantile-a7Woj8W6J0s-unsplash.jpg) center/cover no-repeat;
  width: 294.11px;
  height: 205.88px;
  position: relative;
  margin: 1rem 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(7, 8, 17, 0.5);
  text-align: center;
}
.card-3 h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #9cc9e3;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}
.card-3 hr {
  width: 50px;
  height: 3px;
  margin: 10px auto;
  border: 0;
  background: #d0bb57;
}
.card-3 .color-overlay {
  background: rgba(84, 104, 110, 0.4);
  width: 294.11px;
  height: 205.88px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card-3 .title-content {
  text-align: center;
  margin: 30px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.card-3:hover .card-info {
  opacity: 1;
  bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #9cc9e3;
}
.card-3:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.card-3:hover .title-content {
  opacity: 0;
}

.card-4 {
  background: url(../images/red-megaphone.jpg) center/cover no-repeat;
  width: 294.11px;
  height: 205.88px;
  position: relative;
  margin: 1rem 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(7, 8, 17, 0.5);
  text-align: center;
}
.card-4 h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #9cc9e3;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}
.card-4 hr {
  width: 50px;
  height: 3px;
  margin: 10px auto;
  border: 0;
  background: #d0bb57;
}
.card-4 .color-overlay {
  background: rgba(84, 104, 110, 0.4);
  width: 294.11px;
  height: 205.88px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card-4 .title-content {
  text-align: center;
  margin: 30px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.card-4:hover .card-info {
  opacity: 1;
  bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #9cc9e3;
}
.card-4:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.card-4:hover .title-content {
  opacity: 0;
}

.card-5 {
  background: url(../images/agenda-yellow.jpg) center/cover no-repeat;
  width: 294.11px;
  height: 205.88px;
  position: relative;
  margin: 1rem 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(7, 8, 17, 0.5);
  text-align: center;
}
.card-5 h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #9cc9e3;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}
.card-5 hr {
  width: 50px;
  height: 3px;
  margin: 10px auto;
  border: 0;
  background: #d0bb57;
}
.card-5 .color-overlay {
  background: rgba(84, 104, 110, 0.4);
  width: 294.11px;
  height: 205.88px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card-5 .title-content {
  text-align: center;
  margin: 30px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.card-5:hover .card-info {
  opacity: 1;
  bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #9cc9e3;
}
.card-5:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.card-5:hover .title-content {
  opacity: 0;
}

.card-6 {
  background: url(../images/event-orgarnizer.jpg) center/cover no-repeat;
  width: 294.11px;
  height: 205.88px;
  position: relative;
  margin: 1rem 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(7, 8, 17, 0.5);
  text-align: center;
}
.card-6 h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #9cc9e3;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}
.card-6 hr {
  width: 50px;
  height: 3px;
  margin: 10px auto;
  border: 0;
  background: #d0bb57;
}
.card-6 .color-overlay {
  background: rgba(84, 104, 110, 0.4);
  width: 294.11px;
  height: 205.88px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card-6 .title-content {
  text-align: center;
  margin: 30px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.card-6:hover .card-info {
  opacity: 1;
  bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #9cc9e3;
}
.card-6:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.card-6:hover .title-content {
  opacity: 0;
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #dce3e7;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  color: #dce3e7;
  font-family: "Droid Serif", serif;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  cursor: pointer;
}

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}

.utility-list {
  list-style-type: none;
  margin: 0 0 10px 5px;
  padding: 0;
  width: 100%;
}
.utility-list li {
  cursor: pointer;
  margin: 0 5px 0 0;
  padding: 0 0 0 20px;
  display: inline-block;
  color: #dce3e7;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  position: relative;
}
.utility-list li.comments {
  background: url(../images/icons/github-w.svg) no-repeat 0 0.1em;
  background-size: contain;
}
.utility-list li:hover {
  color: #fff;
}
.utility-list li:hover::after {
  width: 75%;
  transition: 0.3s ease all;
}
.utility-list li::after {
  content: "";
  position: absolute;
  top: 105%;
  height: 1.5px;
  width: 0%;
  left: 28%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s ease all 0.3s;
}

@media (max-width: 768px) {
  .card-wrapper {
    width: 1200px;
  }
}
/*<span>Photo by <a href="https://unsplash.com/@theunsteady5?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Edwin Andrade</a> on <a href="https://unsplash.com/s/photos/events?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>  */
/* <span>Photo by <a href="https://unsplash.com/@anafsnt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Ana Flávia</a> on <a href="https://unsplash.com/s/photos/opinion?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
/* <span>Photo by <a href="https://unsplash.com/@esteejanssens?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Estée Janssens</a> on <a href="https://unsplash.com/s/photos/calendar?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
/* <span>Photo by <a href="https://unsplash.com/@jeshoots?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">JESHOOTS.COM</a> on <a href="https://unsplash.com/s/photos/calendar?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
/* <span>Photo by <a href="https://unsplash.com/@hugorrocha?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hugo Rocha</a> on <a href="https://unsplash.com/s/photos/calendar?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
/* <span>Photo by <a href="https://unsplash.com/@esteejanssens?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Estée Janssens</a> on <a href="https://unsplash.com/s/photos/calendar?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
@media (max-width: 768px) {
  .scroll-content {
    max-width: 2800px;
  }
}
@media (max-width: 1024px) {
  .scroll-content {
    max-width: 3000px;
  }
}

/*# sourceMappingURL=main.css.map */
